<template name="Home">
  <div class="container">
    <h4>Net Zero Energy Performance</h4>
    <h3>UH College of Education</h3>
    <div class="row">
      <div class="col-sm-4">
        <div class="well"><h2><a name="ProductionvsConsumption"></a>Production vs Consumption</h2>
          <img src="" width="100px"/>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="well">
          <h2><a name="TodaysWeather"></a>Today's Weather</h2>

          <img src="" width="100px"/>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-4">
        <div class="well"><h2><a name="SolarElectricityGeneration"></a>Solar Electricity Generation</h2>
          <img src="" width="100px"/>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="well"><h2><a name="SustainabilityPerformance"></a>Sustainability Performance</h2>
          <img src="" width="100px"/>
        </div>
      </div>
    </div>

    <div class="row">
      <h3>Energy Performance</h3>
      <div class="col-sm-5">
        <div class="well"><a name="EnergyConsumptionToday"></a>
          <img src="" width="150px"/>
        </div>
      </div>

      <div class="col-sm-5">
        <div class="well"><a name="EnergyConsumptionY2D"></a>
          <img src="" width="150px"/>
        </div>
      </div>
    </div>
  </div>
</template>
